/node_modules
/public/css/app.css
/public/css/dashboard.css
/public/hot
/public/mix-manifest.json
/public/storage
/public/js/dashboard/*
/public/js/public/history.js
/public/js/public/manifest.js
/public/js/public/market.js
/public/js/public/vendor.js
/storage/*.key
/vendor

.idea/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package.lock.json
composer.lock
